### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
##List 
##Tuple
##Dictionary 
##Sets

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
# A list is ordered and mutable  whilst Tuple is immutable
# A list can be created using list() or [] whilst Tuple is created using .() or tuple()

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [2]:
animal_list=list(["Lion","Elephant","Rabbit","Dog","Cat"])
animal_list

['Lion', 'Elephant', 'Rabbit', 'Dog', 'Cat']

In [4]:
animal_list[0:2]

['Lion', 'Elephant']

In [5]:
animal_list[-2:]

['Dog', 'Cat']

In [6]:
animal_list.append("Frog")
animal_list.append("Monkey")
animal_list.append("Shark")

In [7]:
animal_list

['Lion', 'Elephant', 'Rabbit', 'Dog', 'Cat', 'Frog', 'Monkey', 'Shark']

In [8]:
animal_list.remove("Lion")
animal_list.remove("Elephant")

In [9]:
animal_list

['Rabbit', 'Dog', 'Cat', 'Frog', 'Monkey', 'Shark']

In [10]:
len(animal_list)

6

In [12]:
animal_set=set(animal_list)
animal_set
type(animal_set)

set

In [13]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [14]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first=suitcase[0:2]
first

['sunglasses', 'hat']

In [15]:
middle=suitcase[2:4]
middle

['passport', 'laptop']

In [16]:
last=suitcase[4:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [17]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
#A tuple can be used when you don't want to make changes to the set of elements you want to store .

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [18]:
region_capital={ "Northern Region":"Tamale", 
                "Upper East Region":"Bolgatanga","Volta Region":" Ho","Eastern Region":"Koforidua","Western Region":"Sekondi"}
len(region_capital)
region_capital.keys()

dict_keys(['Northern Region', 'Upper East Region', 'Volta Region', 'Eastern Region', 'Western Region'])

In [19]:
region_capital.values()

dict_values(['Tamale', 'Bolgatanga', ' Ho', 'Koforidua', 'Sekondi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [20]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
len(values)

15

In [21]:
max(values)

6

In [22]:
values_set=set([3,4,5,6,3,4,3,5,2,4,2,5,6,1,6])
values_set
type(values_set)

set

In [23]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [24]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [26]:
dict_nums = {"x":[range(10,21)], "y":[range(21, 31)],"z":[range(31, 41)]}
print(dict_nums)

{'x': [range(10, 21)], 'y': [range(21, 31)], 'z': [range(31, 41)]}