### Q1
List the basic data types in python and give one example each.

In [46]:
### STRING 
name="Grace"

### INTEGER 
x=+56

### FLOAT
Y=56.34

### BOOLEAN (TRUE/FALSE)
x=2
y=67
x<y
x==y

False

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [45]:
x=4539.85
str(x)
y=str(x)
int(x)
z=int(x)
y
z
type(y)
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [ ]:
###a.integer
###b.integer
###c.string 
###d.float
###e.integer
###f.float
###g.boolean
###i.string
###j.float
###k.float

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [35]:
statement1="Thomas Partey is arguably the best player in the Black Stars"
statement1
statement2="He is a great addition to the team"
len(statement1)
len(statement2)
len(statement1)>len(statement2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
###The truth value of an expression

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [31]:
78>46 and 78<30 =="odd number"
8-2 =="an even number" or 8 == "an odd number"
len("boostrap")
len("sample")

6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [23]:
word="Hello, How are you?"
word
word[6:11]
word[6:]
word[11:14]
word[-1]
len(word)
word[0:18]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [11]:
sentence="I am very excited"
sentence
sentence.upper()
sentence.lower()
sentence.title()
sentence=list()
lst=sentence
lst=["I","am","very","excited"]
lst

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [4]:
word="OneThrirtyEight"
word
word[0:3]
word[3:10]
word[10:15]
word[0:10]
word[3:]
word.upper()

'ONETHRIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [2]:
name="Ault'Kelly"
name
type(name)

str